body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex !important;
  flex-wrap: nowrap;
  padding: 0;
  background: linear-gradient(to bottom, rgba(243, 247, 241, 1), rgba(243, 247, 241, 1) 60%, rgba(243, 247, 241, 1) 100%);
}

.navbar-nav {
  flex-direction: row;
  gap: 20px;
}

.nav-link {
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: 'Special Elite', monospace;
  font-style: 'bold';
  font-size: 18;
  text-decoration: underline;
}

.nav-link:first-child {
  margin-left: 20px;
}

.nav-link:last-child {
  margin-right: 10px;
}

.container {
  margin: 20px;
}

.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/barbe-frame.jpg");
  background-size: 52%;
  background-repeat: repeat;
  background-position: center;
}

.dial-image {
  max-width: 77%;
  max-height: 80vh;
  display: block;
  cursor: pointer;
}