html {
  font-size: 1.25rem;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex !important;
  flex-wrap: nowrap;
  padding: 0;
  background: linear-gradient(to bottom, rgba(243, 247, 241, 1), rgba(243, 247, 241, 1) 60%, rgba(243, 247, 241, 1) 100%);
}

.navbar-nav {
  flex-direction: row;
  gap: 20px;
}

.nav-link {
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: 'Special Elite', monospace;
  font-style: 'bold';
  font-size: 18px;
  text-decoration: underline;
}

.nav-link:first-child {
  margin-left: 20px;
}

.nav-link:last-child {
  margin-right: 10px;
}

.container {
  margin: 20px;
}

.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 52%;
  background-repeat: repeat;
  background-position: center;
}

.centered-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dial-image {
  max-width: 77%;
  max-height: 80vh;
  display: block;
  cursor: pointer;
}

.masthead {
  position: relative;
  margin-bottom: 4rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}

.post-heading {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000000;
}

.content p {
  font-family: georgia, "times new roman", times, serif;
}

.captioned {
  margin: 1.5rem 0;
}

q {
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #6c757d;
}

.blockquote > :last-child {
  margin-bottom: 0;
}